@import "../../css/units.css";
@import "../../css/colors.css";

.box_background {
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background: url('../../../static/images/box-bg.png') no-repeat center center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.stage-wrapper * {
    box-sizing: border-box;
}

.stage-canvas-wrapper {
    /* Hides negative space between edge of rounded corners + container, when selected */
    user-select: none;
    display: flex;
    justify-content: center;
}

.stageMenuWrapper {
    background: rgba(244,244,244,1);
    border-radius: 0px 0px 4px 4px;
}

.flexStyle {
    display: flex;
    align-items: center
} 
.mask {
    width: 1128px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 35px 50px 48px;
    background-color: #fff;
    border-radius: 16px;
}
.mask_container {
    display: flex;
    flex-direction: column;    
}
.hand {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 12px;
}
.hand_left {
    flex: auto;
}
.hand_right {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0,0,0,0.07);
    padding-left: 30px;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}
.user_name {
    padding-left: 12px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,1);
}
.body {
    display: flex;
    max-width: 1200px;
    padding-top: 50px;
    margin-bottom: 48px;
}
.middle_content {
    width: 3rem;
}
.right_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.intro_title {
    border-left: 4px solid rgba(93, 169, 255, 1);
    padding-left: 12px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}
.intro_content {
    margin-top: 16px 0 24px;
    height: 176px;
    overflow: auto;
}
.comment_title {
    border-left: 4px solid rgba(248, 181, 0, 1);
    padding-left: 12px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}
.comment_content {
    margin-top: 16px 0 36px;
    height: 128px;
    overflow: auto;
}
.buttons {
    display: flex;
    justify-content: space-around;
    flex: auto;
    align-items: flex-end;
}
.orange_btn {
    width: 168px;
    height: 44px;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgba(248, 181, 0, 1);
    color: #fff;
}
.blue_btn {
    width: 168px;
    height: 44px;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgba(64, 101, 220, 1);
    color: #fff;
}
